body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #63656f;
    background-color: #f2f3f5;
    cursor: pointer;
}


h1 {
    border-bottom: 2px solid #f2f3f5;
    margin: 0px;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#box {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin: 20px auto 40px;
    max-width: 1200px;
}

form {
    padding: 20px 20px 40px;
    display: flex;
    flex-direction: column;
    border-right: 10px solid #f2f3f5;
}

#result {
    padding: 20px;
    width: 100%;
    min-height: calc(100vh - 80px);
}

#preview1 {
    width: 200px;
    height: auto;
}

#preview2 {
    width: 200px;
    height: auto;
}

button {
    max-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;

    height: auto;
}

.image-container .label {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f44336;
    color: white;
    padding: 5px;
    font-size: 16px;
}